<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
     
    <body>
     
    <div id="container">
    <form action="login" method="post" id="flogin">
     
    <div class="border-box">
    <h2 style="color: aliceblue; margin:10px 30px 10px 30px;">Forgot Password</h2>
    <label for="email" id="un">Email:</label>
    <input type="text" name="user" placeholder="Enter Email" id="email"><br/>
     
    <label for="upass" id="ps">New Password:</label>
    <input type="password" name="pass" placeholder="Enter Password" id="upass"><br/>
    <label for="upass" id="ps">Confirm Password:</label>
    <input type="password" name="pass" placeholder="Enter Password" id="upass"><br/>
    <button type="submit" value="Reset"  id="submit" onClick="alert('Password changed Successfully')">Reset</button><br>
     

    </div>
     
    </form>
    </div>
     
    </body><br><br><br>
