<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login and Registration form example</title>

</head>
 
<body >
    <div id="container">
<form method="post" id="register" [formGroup]="registeruser" (ngSubmit)="registerUser(registeruser.value)">
<h2 style="color: aliceblue;text-align: center;">Registration Form</h2>
 
<label for="r1" id="fn">Name :</label>
<input type="text" formControlName="name" id="r1"><br/>
 
<label  for="r2" id="em">Email :</label>
<input type="email" formControlName="email" id="r2"><br/>

<label  for="r3" id="dob">Date of Birth:</label>
<input type="date" formControlName="dob" id="r3"><br/>
 
<label  for="r4" id="mn">Mobile No :</label>
<input  type="number" maxlength=10  minlength="10" formControlName="mno" id="r4" ><br/>

<label  for="r5" id="ad">Address :</label>
<input type="text" formControlName="add" id="r5"><br/>

<label  for="r6" id="pwd">Password :</label>
<input type="password" formControlName="pass" id="r6"><br/>
 
<button type="submit" value="Submit" id="button">Register</button><br><br>
<a style=" margin:10px 0px 0px 205px;" routerLink="">Back Home</a><br>
 
</form>
 
<script type="text/javascript">
function save(){
var user = document.getElementById("user").value;
var pwd = document.getElementById("pwd").value;
alert("username"+user+"password"+pwd);
}
</script>
 </div>
</body>
</html>
